fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
chromadb
langchain
langchain-community
langchain-google-genai
pypdf
streamlit
requests
streamlit-cookies-controller
# Autenticação JWT + Hash de Senhas
python-jose[cryptography]
bcrypt
# AWS S3
boto3
